/* You can add global styles to this file, and also import other style files

 */


  /* .imgs {
    background-image: url(../src/assets/images/img4.jpg);
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} */