
.imgs {
    background-image: url(../../assets/images/img4.jpg);
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


 .content {
    margin-top: 100px;
    position:absolute;
    
}

.win {
    
    font-size: 5%;
}

.col {
    font-size: 70%;
}

#element {
    position: relative;
    width: 300px;
}



.inpu {
    height: 80px;
    width: 700px;
    opacity: 0.5;
    border: none;
    padding: 0 15px;
}

#element button {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: -390px;
    background: red;
    color: white;
    padding: 0 50px;
    letter-spacing: 1.2px;
    border: none;
    cursor: pointer;
    
    

}

#element button:hover {
    background-color: black;
    color: red;
    transition: all 1s ease-in-out;
}

#links a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    
    #element {
        position: relative;
        width: 300px;
    }
    
    
    
    .inpu {
        height: 80px;
        width: 400px;
        opacity: 0.5;
        border: none;
        padding: 0 15px;
    }
    
    #element button {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: -90px;
        background: red;
        color: white;
        padding: 0 50px;
        letter-spacing: 1.2px;
        border: none;
        cursor: pointer;
    }
}