<section>
  <div class="imgs ">
    <div class="content ">
      <h1 class="ms-2">Find a Locker</h1>
      <div class="bg-light ms-2" id="element">
        <input type="text" placeholder="Input Lock type" class="inpu">
        <button class="btn btn-danger ">Find Locker</button>
      </div>
    </div>
  </div>
  <div class="bg-light pb-3 pt-2 d-flex text-secondary">
    <p>Lorem ipsum dolor sit amet.</p>
    <p class="ms-auto pe-5">Sort By </p>
  </div>
</section>

<section >
  <div class="d-md-flex my-3" id="links">
      <div>
        
        <img class="img-fluid win w-100 img-thumbnail " src="assets/images/b.jpg" alt="">
        <a href=""><p>Lorem ipsum dolor sit amet consectetur adipisicing.</p></a>
        <i class="bi bi-star-fill h3 text-warning"></i>
        <i class="bi bi-star-fill h3 text-warning"></i>
        <i class="bi bi-star-fill h3 text-warning"></i>
        <i class="bi bi-star-fill h3 text-warning"></i>
        <i class="bi bi-star-fill h3 text-warning"></i>
        
        <a href=""><p>Lorem, ipsum dolor.</p></a>
      </div>
      
      <div>
        <div class="dropdown mx-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item bg-secondary" href="#">Action</a></li>
            <li><a class="dropdown-item bg-secondary" href="#">Another action</a></li>
            <li><a class="dropdown-item bg-secondary" href="#">Something else here</a></li>
          </ul>
        </div>

        <div class="row p-2  text-dark m-2 align-items-center bg-light" id="cols">
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col"> <button class="btn btn-success"> Buy Now</button></div>
        </div>

        <div class="row p-2 text-dark m-2 align-items-center bg-light" id="cols">
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col"> <button class="btn btn-success"> Buy Now</button></div>
        </div>

        <div class="row p-2 text-dark m-2 align-items-center bg-light" id="cols">
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, numquam.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, blanditiis.</div>
          <div class="col"> <button class="btn btn-success"> Buy Now</button></div>
        </div>
        <a href=""><p class="p-2">Lorem ipsum dolor sit.</p></a>
      </div>
    
      
  </div>

</section>